<!DOCTYPE html>
<html lang="en" ng-app="music-application">

<head>
    <!-- HTML information -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Multi-source music application">
    <meta name="keywords" content="music, multi-source, youtube, deezer, songs, track, video">

    <title>Music Application</title>

    <!-- Angular Material -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="build/css/roboto-fonts.css">
    <link rel="stylesheet" href="build/css/angular-material.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="build/css/styles.css">
</head>

<body ng-cloak layout="column" ng-controller="master">




















    <!-- Header container -->
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu md-icon-button" ng-click="toggleMenu()" aria-label="Show menu">
            <md-icon md-svg-icon="src/assets/svg/menu.svg"></md-icon>
        </md-button>
        <!-- Search -->
        <div class="search" flex>
            <input layout-align="center center" type="text" ng-model="search.text" placeholder="Search">
        </div>
    </md-toolbar>



    <!-- Main container -->
    <div flex layout="row">

        <!-- Menu container -->
        <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ng-click="toggleMenu()">

        </md-sidenav>

        <!-- Content container -->
        <md-content flex id="content">
            <div ng-view></div>
        </md-content>

    </div>

    <!-- Player container -->
    <div class="player-container" layout="column">

        <!-- Seekbar -->
        <div class="seekbar" layout="column">
            <input type="range" step="any" min="0" max="1" id="seek-bar" value="0"></input>
            <md-progress-linear md-mode="buffer" class="md-accent" value="{{seek.percentage}}" md-buffer-value="{{seek.percentageLoaded}}"></md-progress-linear>
        </div>

        <!-- Elements below seekbar -->
        <div class="player-elements" layout="row" md-swipe-right="previous()" md-swipe-left="next()">

            <div class="player-image">
                <!-- YouTube -->
                <div id="youtube-player"></div>
                <!-- Deezer -->
                <div id="dz-root"></div>
            </div>

            <div flex layout="row">

                <div class="text">
                    Artist - Name
                </div>

                <div class="buttons">
                    <md-button class="md-icon-button" aria-label="previous" ng-click="previous()">
                        <md-icon md-svg-icon="src/assets/svg/previous.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab" aria-label="play or pause" ng-click="playPause()">
                        <md-icon ng-hide="paused" md-svg-src="src/assets/svg/play.svg"></md-icon>
                        <md-icon ng-show="paused" md-svg-src="src/assets/svg/pause.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="next" ng-click="next()">
                        <md-icon md-svg-icon="src/assets/svg/next.svg"></md-icon>
                    </md-button>
                </div>

                <div class="settings">

                    <!-- Music service -->
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="volume" ng-click="$mdOpenMenu($event)">
                            <md-icon ng-show="musicService === 'Deezer'" md-svg-icon="src/assets/svg/deezer-logo.svg"></md-icon>
                            <md-icon ng-show="musicService === 'YouTube'" md-svg-icon="src/assets/svg/youtube-logo.svg"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-button ng-click="dynamicallyChangeMusicService('Deezer')">
                                <md-icon md-svg-icon="src/assets/svg/deezer-logo.svg"></md-icon>
                            </md-button>
                            <md-button ng-click="dynamicallyChangeMusicService('YouTube')">
                                <md-icon md-svg-icon="src/assets/svg/youtube-logo.svg"></md-icon>
                            </md-button>
                        </md-menu-content>
                    </md-menu>

                    <!-- Repeat -->
                    <md-button class="md-icon-button" aria-label="repeat" ng-click="toggleRepeat()">
                        <md-icon ng-class="repeatOff ? 'off' : ''" ng-hide="repeatOne" ng-disabled="true" md-svg-icon="src/assets/svg/repeat.svg"></md-icon>
                        <md-icon ng-show="repeatOne" md-svg-icon="src/assets/svg/repeat-one.svg"></md-icon>
                    </md-button>

                    <!-- Shuffle -->
                    <md-button class="md-icon-button" aria-label="shuffle" ng-click="toggleShuffle()">
                        <md-icon ng-class="shuffle ? '' : 'off'" md-svg-icon="src/assets/svg/shuffle.svg"></md-icon>
                    </md-button>

                    <!-- Volume -->
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="volume" ng-click="$mdOpenMenu($event)">
                            <md-icon ng-hide="volumeOff" md-svg-icon="src/assets/svg/volume.svg"></md-icon>
                            <md-icon ng-show="volumeOff" md-svg-icon="src/assets/svg/volume-off.svg"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-slider-container flex>
                                <md-slider ng-change="setVolume(volume)" md-discrete ng-model="volume" min="0" max="100" step="1" aria-label="volume" class="md-primary"
                                    md-vertical></md-slider>
                                <h5>Volume</h5>
                            </md-slider-container>
                        </md-menu-content>
                    </md-menu>


                </div>

            </div>

        </div>

    </div>





















    <!-- AngularJS dependencies -->
    <script src="build/javascript/angular.min.js"></script>
    <script src="build/javascript/angular-animate.min.js"></script>
    <script src="build/javascript/angular-aria.min.js"></script>
    <script src="build/javascript/angular-messages.min.js"></script>
    <script src="build/javascript/angular-resource.min.js"></script>
    <script src="build/javascript/angular-route.min.js"></script>

    <!-- Angular Material Library -->
    <script src="build/javascript/angular-material.min.js"></script>

    <!-- Firebase dependencies -->
    <script src="build/javascript/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAN7vyNOXc_U-qWbxkLt6RPx-PAT2dl3qQ",
            authDomain: "music-application-951ac.firebaseapp.com",
            databaseURL: "https://music-application-951ac.firebaseio.com",
            storageBucket: "",
        };
        firebase.initializeApp(config);
    </script>

    <!-- AngularFire -->
    <script src="build/javascript/angularfire.min.js"></script>

    <script src="build/javascript/scripts.js"></script>
</body>

</html>