$edit-button-size: 16px;

.playlist {
    display: flex;

    .loading {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: inherit;
    }

    .content-once-loaded {
        width: 100%;
        height: 100%;

        md-toolbar {
            align-items: center;

            .headings {
                margin: auto;
                margin-left: 16px;
            }

            .playlist-name {
                margin: auto;
                margin-right: 16px;
            }

            .playlist-owner {
                margin: auto;
                margin-top: 14px;
                font-size: 14px;
            }

            .share-playlist {
                margin: auto;
                margin-right: 36px;
            }
            
        }

        .no-tracks {
            // width: 100%;
            display: flex;
            text-align: center;
            margin: auto;
            margin-top: 64px;

            h2 {
                color: $secondary-text-color-dark;
                margin-bottom: 36px;
            }

            h4, h5 {
                color: $secondary-text-color-dark;
                margin-top: 14px;
                margin-bottom: 0px;
            }
        }

        .tracks {
            
        }

        md-content {
            height: calc(100% - 64px);
        }

    }
}