<md-dialog class="edit-track">
    <form ng-cloak>

        <!-- Toolbar -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{heading}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" ng-hide="saving">
                    <md-icon md-svg-src="src/assets/svg/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!-- Content -->
        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- Rename container -->
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Title</label>
                    <input required ng-model="trackTitle">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Artist</label>
                    <input ng-model="trackArtist">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>YouTube URL</label>
                    <input ng-model="youtubeURL">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Deezer URL</label>
                    <input ng-model="deezerURL">
                </md-input-container>
                <div class="loading" ng-show="saving">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </md-dialog-content>

        <!-- Actions -->
        <md-dialog-actions layout="row" ng-hide="saving">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="save({ name: newPlaylistName })">
                Save
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>