<div class="sign-up">

    <h1>SIGN UP HERE</h1>
    <div>{{bob}}</div>

    <form ng-submit="signUper()">
        <input type="email" ng-model="user.email" name="email" placeholder="Email" ng-class="emailError" autofocus>
        <br/>
        <br/>
        <input type="password" ng-model="user.password" name="password" placeholder="Password" ng-class="passwordError">
        <br/>
        <br/>
        <input type="submit" class="next-icon" ng-hide="loading" value="sign-up">
    </form>

    <button ng-click="signUper(this)">Click ME!</button>
    
    <br/>
    <br/>
    
    {{user.email}}

    <br/>
    <br/>

    <!-- anything typed in here is magically saved to our Firebase database! -->
    <input type="text" ng-model="data.text" />
    <!-- all changes from our Firebase database magically appear here! -->
    <h1>You said: {{ data.text }}</h1>

    <br/>
    <br/>

    <ul>
        <li ng-repeat="message in messages">
            <!-- edit a message -->
            <input ng-model="message.text" ng-change="messages.$save(message)" />
            <!-- delete a message -->
            <button ng-click="messages.$remove(message)">Delete Message</button>
        </li>
    </ul>
    <!-- push a new message onto the array -->
    <form ng-submit="addMessage()">
        <input ng-model="newMessageText" />
        <button type="submit">Add Message</button>
    </form>

</div>