<div class="fill-block">

    {{owner}}

    <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
        Custom Dialog
    </md-button>

    <br>
    <br>
    <br> Tracks in {{playlist.name}}:
    <ul>
        <li ng-repeat="track in playlist.tracks | filter: { title: search.text }">
            {{$index}} Track: {{track.title}} Date added: {{track.dateAdded}}
        </li>
    </ul>

    <!-- Playlist details i.e. name, owner, add button etc. -->
    <md-content>

    </md-content>

    <!-- Tracks in a virtual repeat (for speed) -->
    <md-content>
        <md-virtual-repeat-container id="vertical-container">
            <div md-virtual-repeat="item in ctrl.dynamicItems" md-on-demand class="repeated-item" flex>
                {{item}}
            </div>
        </md-virtual-repeat-container>
    </md-content>


</div>