// z-index
$seekbar-z-index: 100;

$search-background-color: #f3f3f3;
$search-font-color: black;

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar .search {
    flex: 1;
    margin: auto;

    input {
        color: $search-font-color;
        border: 0px;
        border-radius: 4px;
        font-size: 16px;
        height: 38px;
        
        width: 100%;
        padding-left: 8px;
        outline: none;

        background-color: $search-background-color;
    }
}


/* ====================================================
 * Player container
 * ==================================================== */

$player-container-color: deeppink;

$player-container-height: 100px;

$seekbar-width: 100%;
$seekbar-height: 5px;
$seekbar-thumb-color: black;
$seekbar-thumb-size: 20px;
$seekbar-loaded-color: blue;
$seekbar-buffering-color: red;

$player-elements-height: 100px - $seekbar-height;

$player-element-image-width: $player-elements-height * (16 / 9);

.off {
    opacity: 0.3;
}

.player-container {
    height: $player-container-height;
}

.seekbar {
    height: $seekbar-height;
}

#seek-bar {
    position: absolute;
    z-index: $seekbar-z-index;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 0px;
    outline: none;
}

.seekbar input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
}

.seekbar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: $seekbar-thumb-size;
    width: $seekbar-thumb-size;
    border-radius: 50%;
    background: $seekbar-thumb-color;
    margin-left: -($seekbar-thumb-size / 4);
    margin-top: $seekbar-height;
}

.player-elements {
    height: $player-elements-height;
    overflow: hidden;

    .buttons {
        text-align: center;
    }
}

#dz-root {
    position: fixed;
    left: -1000px;
    top: -1000px;
}

#youtube-player {
    height: $player-elements-height;
    width: $player-element-image-width;
    background-color: indianred;
}

/* ---------------------------------------------------- */



/* ====================================================
 * Greater than small
 * ==================================================== */

@media only screen and (min-width: 960px){

md-toolbar .search {
    flex: 0.5;
}

}

/* ---------------------------------------------------- */





// .seekbar input[type=range] {

//     /*removes default webkit styles*/
//     -webkit-appearance: none;
    
//     /*fix for FF unable to apply focus style bug */
//     border: 1px solid white;
    
//     /*required for proper track sizing in FF*/
//     width: 300px;
// }
// input[type=range]::-webkit-slider-runnable-track {
//     // width: $seekbar-width;
//     height: 5px;
//     background: transparent;
//     border: none;
//     border-radius: 3px;
// }
// input[type=range]::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     border: none;
//     height: 36px;
//     width: 36px;
//     margin: 16px;
//     border-radius: 50%;
//     background: orange;
//     margin-top: -4px;
// }
// input[type=range]:focus {
//     outline: none;
// }
// input[type=range]:focus::-webkit-slider-runnable-track {
//     background: #ccc;
// }

// input[type=range]::-moz-range-track {
//     // width: 300px;
//     height: 5px;
//     background: #ddd;
//     border: none;
//     border-radius: 3px;
// }
// input[type=range]::-moz-range-thumb {
//     border: none;
//     height: 16px;
//     width: 16px;
//     border-radius: 50%;
//     background: goldenrod;
// }

// /*hide the outline behind the border*/
// input[type=range]:-moz-focusring{
//     outline: 1px solid white;
//     outline-offset: -1px;
// }

// input[type=range]::-ms-track {
//     // width: 300px;
//     height: 5px;
    
//     /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
//     background: transparent;
    
//     /*leave room for the larger thumb to overflow with a transparent border */
//     border-color: transparent;
//     border-width: 6px 0;

//     /*remove default tick marks*/
//     color: transparent;
// }
// input[type=range]::-ms-thumb {
//     border: none;
//     height: 16px;
//     width: 16px;
//     border-radius: 50%;
//     background: goldenrod;
// }
