// Order of elements (z-index)

// The top element.
// .fill-screen
$z-index-10: 1000000;

$z-index-9: 900000;

$z-index-8: 800000;

$z-index-7: 700000;

$z-index-6: 600000;

// #seek-bar
$z-index-5: 500000;

$z-index-4: 400000;

$z-index-3: 300000;

$z-index-2: 200000;

$z-index-1: 100000;

// Bottom element.
$z-index-0: 0;
