/* ====================================================
 * Importing
 * ==================================================== */

@import 'variables';
@import 'hackery';
@import 'boilerplate';
@import 'master';

// views
@import 'views/loading';
@import 'views/sign-in';
@import 'views/sign-up';
@import 'views/library';
@import 'views/playlist';

// Dialogs
@import 'dialogs/edit-track';
@import 'dialogs/edit-playlist';
@import 'dialogs/share-playlist';

/* ---------------------------------------------------- */



/* ====================================================
 * General styles
 * ==================================================== */

.fill-screen {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: $z-index-10;
}

.fill-block {
    // background-color: yellow;
    // display: flex;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------- */




/* ====================================================
 * Tablet styles
 * ==================================================== */
@media only screen and (max-width: 60em){ /* 60em ~= 960px */

body {
    
}

}
/* ---------------------------------------------------- */



/* ====================================================
 * Mobile styles
 * ==================================================== */
@media only screen and (max-width: 32.5em){ /* 25em ~= 520px */

body {
    
}

}
/* ---------------------------------------------------- */